{% extends 'base.html' %}
      
	{% block content %}
    <style>
      @import "/static/css/demo_table.css";
      @import "/static/css/dropzone/basic.css";
      @import "/static/css/dropzone/dropzone.css";
      /*@import "/static/css/dropbox.css";*/
    </style>

      <h1>{{ system_label }} Rom Manager</h1>

<!-- 
      <div id="dropbox">
        <span class="message">Drop files here to upload.</span>
      </div>
 -->

        <form id="my-awesome-dropzone" action="{{system_path}}" method="post" class="dropzone"></form>

        <p>
          {% if files %}
            <!--<p>
              <a href="{{ url_for('upload_files', system_label = system_label) }}" >UPLOAD FILES </a>
            </p> -->
            <table id="roar" class="display" >
              <thead>
                <tr>
                  <td>File Name</td>
                </tr>
              </thead>
              <tbody>
                {% for f in files %}
                  <tr><td>{{f}}</td></tr>
                {% endfor %}
              </tbody>
            </table>
          
          {% else %}
            <p>No roms exist for this emulator.</p>
          {% endif %}

    {% endblock %}

    {% block script %}
    <script>
        var path = '{{ system_path }}';
    </script>
    <!--
    <script type="text/javascript" src="/static/js/jquery.filedrop.js"></script>
    <script type="text/javascript" src="/static/js/upload.js"></script>
    -->
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/jquery.dataTables.js"></script>

    <script>
      $(document).ready(function() {
          $('#roar').dataTable();
      } );
    </script>

    {% endblock %}